    #bwg_container1_0 #bwg_container2_0 .bwg_standart_thumbnails_0 * {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    #bwg_container1_0 #bwg_container2_0 .bwg_standart_thumb_spun1_0 {
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      background-color: transparent !important; //changed
      display: inline-block;
      height: 300px !important;
      margin: 6px !important;
      padding: 0px;
      opacity: 1.00;
      filter: Alpha(opacity=100);
      text-align: center;
      vertical-align: middle;
      transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      width: 50% !important;
      z-index: 100;
    }

    #bwg_container1_0 #bwg_container2_0 .bwg_standart_thumb_spun1_0:hover {
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      opacity: 1;
      filter: Alpha(opacity=100);
      transform: scale(1.1);
      z-index: 102;
      position: relative;
    }

    #bwg_container1_0 #bwg_container2_0 .bwg_standart_thumb_spun2_0 {
      border: 0px none #CCCCCC;
      border-radius: 0;
      box-shadow: 0px 0px 0px #888888;
      display: inline-block;
      height: 300px !important;
      overflow: hidden;
      width: 50% !important;
    }

    #bwg_container1_0 #bwg_container2_0 .bwg_standart_thumbnails_0 {
      background-color: transparent;
      display: inline-block;
      font-size: 0;
      max-width: 100% !important;
      text-align: center;
    }

    #bwg_container1_0 #bwg_container2_0 .bwg_standart_thumb_0 {
      display: inline-block;
      text-align: center;
    }

    #bwg_container1_0 #bwg_container2_0 .bwg_standart_thumb_spun1_0:hover .bwg_title_spun1_0 {
      left: 0px;
      top: 0px;
      opacity: 1;
      filter: Alpha(opacity=100);
    }

    #bwg_container1_0 #bwg_container2_0 .bwg_title_spun2_0 {
      color: #CCCCCC;
      display: table-cell;
      font-family: $base-font !important;
      font-size: 16px;
      font-weight: bold;
      height: inherit;
      padding: 2px;
      text-shadow: 0px 0px 10px #888888 !important;
      vertical-align: middle;
      width: inherit;
      word-wrap: break-word;
    }
    /*pagination styles*/

    #bwg_container1_0 #bwg_container2_0 .tablenav-pages_0 {
      text-align: center;
      font-size: 12px;
      font-family: $base-font !important;
      font-weight: bold;
      color: #666666;
      margin: 6px 0 4px;
      display: block;
      height: 30px;
      line-height: 30px;
    }

    @media only screen and (max-width: 320px) {
      #bwg_container1_0 #bwg_container2_0 .displaying-num_0 {
        display: none;
      }
    }

    #bwg_container1_0 #bwg_container2_0 .displaying-num_0 {
      font-size: 12px;
      font-family: $base-font !important;
      font-weight: bold;
      color: #666666;
      margin-right: 10px;
      vertical-align: middle;
    }

    #bwg_container1_0 #bwg_container2_0 .paging-input_0 {
      font-size: 12px;
      font-family: $base-font !important;
      font-weight: bold;
      color: #666666;
      vertical-align: middle;
    }

    #bwg_container1_0 #bwg_container2_0 .tablenav-pages_0 a.disabled,
    #bwg_container1_0 #bwg_container2_0 .tablenav-pages_0 a.disabled:hover,
    #bwg_container1_0 #bwg_container2_0 .tablenav-pages_0 a.disabled:focus {
      cursor: default;
      color: rgba(102, 102, 102, 0.5);
    }

    #bwg_container1_0 #bwg_container2_0 .tablenav-pages_0 a {
      cursor: pointer;
      font-size: 12px;
      font-family: $base-font !important;
      font-weight: bold;
      color: #666666;
      text-decoration: none;
      padding: 3px 6px;
      margin: 0;
      border-radius: 0;
      border-style: solid;
      border-width: 1px;
      border-color: #E3E3E3;
      background-color: #FFFFFF;
      opacity: 1.00;
      filter: Alpha(opacity=100);
      box-shadow: 0;
      transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
    }

    #bwg_container1_0 #bwg_container2_0 .bwg_back_0 {
      background-color: rgba(0, 0, 0, 0);
      color: #000000 !important;
      cursor: pointer;
      display: block;
      font-family: $base-font !important;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      padding: 0;
    }

    #bwg_container1_0 #bwg_container2_0 #spider_popup_overlay_0 {
      background-color: #000000;
      opacity: 0.70;
      filter: Alpha(opacity=70);
    }

    .bwg_play_icon_spun_0 {
      width: inherit;
      height: inherit;
      display: table;
      position: absolute;
    }

    .bwg_play_icon_0 {
      color: #CCCCCC;
      font-size: 32px;
      vertical-align: middle;
      display: table-cell !important;
      z-index: 1;
      text-align: center;
      margin: 0 auto;
    }