**/node_modules
**/node_modules/

**/.sass-cache
**/.sass-cache/

.tmp/

**/bower_components/

grunt/node_modules/
./grunt/node_modules/
/grunt/node_modules/
grunt/node_modules
./grunt/node_modules
/grunt/node_modules

grunt/.sass-cache/
./grunt/.sass-cache/
/grunt/.sass-cache/
grunt/.sass-cache
./grunt/.sass-cache
/grunt/.sass-cache

dist/
./dist

alive8/
./alive8
./alive8/