// variables
$color1: rgba(0, 0, 0, .8);
$color2: rgba(0, 0, 0, .5);
$color3: #f5f5f5;
$main-color: #e2a646;
$alien: $main-color;
$black8: rgba(0, 0, 0, .7);
$black5: rgba(0, 0, 0, .5);
$black3: rgba(0, 0, 0, .25);
$white7: rgba(255, 255, 255, .75);
$white5: rgba(255, 255, 255, .5);
$white3: rgba(255, 255, 255, .3); // default styling
$hunter: #660031;
$fx: #A3E337;
$vr: #C70327;
$background: #e0e0e0;
$radius: 6pt;

@-webkit-keyframes pulse {
	from { opacity: .1; }
	40% {opacity: 1;}
	70% {opacity: 1;}
	to { opacity: .1;}
}

@keyframes pulse {
	from { opacity: .1; }
	40% {opacity: 1;}
	70% {opacity: 1;}
	to { opacity: .1;}
}

html, body {
	position: relative;
	min-height: 100%;
	color: inherit;
	/* overflow: hidden; */
}

::selection {
	color: white;
}

::-moz-selection {
	color: white;
}

/* #loader{
	background-color: rgba(black, .87);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1040;
} */

a[href] {
	text-decoration: none;
	cursor: pointer;
	transition: color .2s;
	&:hover {
		text-decoration: none;
	}
}

img {
	max-width: 100%;
	height: auto;
}

section{
	padding: $radius;
}

@mixin icon-small{
	width: auto;
	height: 5*$radius;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.videoWrapper{
	position:relative;
	width:100%;
	min-width: 320px;
	height:0;
	padding-bottom:56.27198%;
	iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
}