@mixin shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1), 0px 1px 3px rgba(0, 0, 0, 0.2);
}

@mixin transition {
  transition: .2s ease-in-out;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  border-radius: $radius;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.imageWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  border-radius: $radius;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
