@mixin shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1), 0px 1px 3px rgba(0, 0, 0, 0.2);
}

@mixin transition {
  transition: .2s ease-in-out;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  border-radius: $radius;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.imageWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  border-radius: $radius;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#header-carroussel {
  padding: 0;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  outline: none;
  margin: 0;
  .slick-arrow {
    display: none !important
  }
  .home-swipe {
    outline: none;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    @media #{$grid-sm} {
      background-attachment: scroll;
    }
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: 0;
  list-style: none;
  max-width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 898;
  li {
    z-index: 899;
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    button {
      border: 0;
      z-index: 900;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      color: transparent;
      cursor: pointer;
      font-size: 24pt;
      line-height: 24pt;
      &:hover,
      &:focus {
        outline: none;
        &:before {
          opacity: 1;
        }
      }
      &:before {
        z-index: 900;
        position: absolute;
        top: 0;
        left: 0;
        content: "\2022";
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: .5;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    &.slick-active button:before {
      z-index: 901;
      color: $main-color;
      opacity: .75;
    }
  }
}

.tab__content {
  position: relative;
  width: 100%;
  >li {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    list-style: none;
    .content__wrapper {
      width: 100%;
    }
  }
}

$ratio: 5em !default;
.wave-section {
  margin-top: 0;
  padding: 0;
  max-width: 100%;
  margin-bottom: 4rem;
  @include transition;
  .tab__content {
    margin: 0;
    padding: 0;
  }
  .wave-btn-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
    position: relative;
    svg {
      position: absolute;
      height: $ratio + .5em;
    }
    .wave-bg {
      opacity: 0;
      @include transition;
      &.active {
        opacity: 1;
      }
    }
    .tabs {
      position: relative;
      padding: 0;
      margin: 0 auto;
      height: $ratio + .7em;
      width: 100%;
      display: inline-flex;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center;
      justify-content: center;
      li {
        width: $ratio;
        height: $ratio;
        margin: 0 .2em;
        display: flex;
        box-sizing: border-box;
        background-color: rgba(white, .3);
        border: 1px solid rgba($alien, .3);
        border-radius: 50%;
        text-align: center;
        list-style: none;
        transition-duration: .2s;
        cursor: pointer;
        &.active {
          background-color: rgba($alien, .2);
          border: 1px solid transparent;
        }
        a {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          z-index: 10;
          color: $white7;
          @include transition;
          >span.caption {
            text-align: center;
            white-space: nowrap;
            line-height: $ratio + 1em;
            font-size: .85rem;
            user-select: none;
            letter-spacing: -.025rem;
            color: $black5;
          }
        }
        &:hover,
        &:focus {
          background-color: rgba($alien, .3);
          border: 1px solid transparent;
        }
      }
    }
  }
}