#nav{
  width: 100%;
  position: fixed;
	top: 0;
  z-index: 1000;
  box-sizing: border-box;
  color: white;
  padding: 3pt $radius;
  padding-right: 24pt;
  li{
    list-style: none;
    margin-right: $radius;
    z-index: 1020;
    a{
      position: relative;
      padding: $radius;
      height: 100%;
      z-index: 1020;
      width: 100%;
      display: flex;
      color: white;
      cursor: pointer;
      user-select: none;
    }
    &.menu-logo{
      height: 36pt;
      padding: $radius;
      a{padding: 0}
      img{height: 100%}
    }
  }
  .menu-item a{
    padding: 0 3*$radius 0 $radius;
    text-transform: uppercase;
    letter-spacing: 0.5pt;
    min-height: 6*$radius;
    line-height: 6*$radius; 
    border-radius: $radius/2;
    z-index: 1020;
    @include transition;
		&:hover{
			background-color: rgba(black, .3);
    }
    &.current-menu-item a{
      background-color: rgba(black, .3);
    }
	}
  .menu-item-has-children{
    position: relative;
    z-index: 1020;
    a{padding-right: 6*$radius;}
    &::after{
      content: '';
      position: absolute;
      right: $radius;
      top: 50%;
      margin-top: -1.5*$radius;
      width: 3*$radius;
      height: 3*$radius;
      pointer-events: none;
    }
  }
}

.sub-menu{
  background: white;
  max-width: 250pt;
  min-width: 190pt;
  border-radius: $radius/2;
  > ol {
    &:nth-of-type(2){margin-top: $radius;}
    li{
      border-bottom: 1pt solid rgba(black, .05);
      a{
        display: block;
        color: $black8;
        line-height: $radius*4;
        padding: $radius;
        padding-left: 2*$radius;
        &:hover{background-color: rgba(black, .05)}
      }
    }
  }
}

.drop-element{
  margin-top: 3pt;
  z-index: 1000;
}