nav{
  width: 100%;
  max-height: 48pt;
  padding: 6pt 6pt 0 6pt;
  position: fixed;
	top: 0;
  z-index: 90;
  box-sizing: border-box;
  color: white;
  a{
		position: relative;
		display: block;
		border-radius: $radius $radius 0 0;
    padding-bottom: 6pt;
    text-transform: uppercase;
    letter-spacing: 0.5pt;
		&:hover{
			background-color: rgba(black, .3);
		}
	}
}

nav{
  .menu-logo{
    img{@include icon-small;}
  }
  .menu-item-has-children{
    .sub-menu{
      border: 1.2pt solid #ccc;
      background: white;
      border-radius: 0 0 $radius $radius;
    }
  }
}